### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# how many players are there?
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]
num_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Create table variables

#How many unique items are there?
u_items = len(purchase_data["Item ID"].unique())
u_items

#How many transactions were there?
n_trans = purchase_data["Purchase ID"].count()
n_trans

#What was the total value of the transactions
t_trans = purchase_data["Price"].sum()
t_trans = "${:,.2f}".format(t_trans)

#Determine the average price
ave_price = purchase_data["Price"].mean()
ave_price = "${:,.2f}".format(ave_price)

#Create dataframe
Purchasing_Analysis_Total = pd.DataFrame({"# of Unique Items": [u_items],
                                         "Price (Ave)":[ave_price],
                                         "# of Transactions":[n_trans],
                                         "Total Sales":[t_trans]})

output = Purchasing_Analysis_Total.round(2)
output

   # of Unique Items Price (Ave)  # of Transactions Total Sales
0                179       $3.05                780   $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Who is playing this game? 
# Already counted totals in[9] "players_t"
gender_df = player_demographics["Gender"].value_counts()
gender_df

# Determine the percent for each gender
gender_per = (gender_df/num_players)*100
gender_perc = gender_per.round(1)
gender_perc

# New dataframe
gender_sum = pd.DataFrame({"Gender Count":gender_df,
                           "Gender Percent":gender_perc})

gender_sum["Gender Percent"] = gender_sum["Gender Percent"].map("{:,.2f}%".format)
gender_sum

                       Gender Count Gender Percent
Male                            484         84.00%
Female                           81         14.10%
Other / Non-Disclosed            11          1.90%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create a df to capture data by gender
gender_analysis_df = purchase_data.groupby(["Gender"])

# Determine the number of purchases by gender
purch_count = gender_analysis_df["Gender"].count()
purch_count

# Total purchase by gender
t_purch = gender_analysis_df["Price"].sum()
t_purch

# Ave purchase price by gender
ave_purch = t_purch/purch_count

# Normalize data
purch_norm = gender_analysis_df["SN"].nunique()
purch_gender_norm = t_purch/purch_norm

# Print df
gender_org_df = pd.DataFrame({"Purchase Count": purch_count,
                            "Purchase Price (Ave)":ave_purch,
                            "Total Purchases by Gender":t_purch,
                            "Normalized Total Purchase":purch_gender_norm})

gender_org_df["Purchase Price (Ave)"] = gender_org_df["Purchase Price (Ave)"].map("${:,.2f}".format)
gender_org_df["Total Purchases by Gender"] = gender_org_df["Total Purchases by Gender"].map("${:,.2f}".format)
gender_org_df["Normalized Total Purchase"] = gender_org_df["Normalized Total Purchase"].map("${:,.2f}".format)
gender_org_df

,Purchase Count,Purchase Price (Ave),Total Purchases by Gender,Normalized Total Purchase
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
#age_bins = [0, 11.90, 18.90, 22.90, 26.90, 30.90, 39.90, 99999]
#group_names = ["<12", "12-18", "19-22", "22-26", "27-30", "31-40", "40+"]
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
print(player_demographics)
#database for age Demo
player_demographics["Player Age Demographics"]= pd.cut(player_demographics["Age"], age_bins, labels=group_names)
#demographic_group =player_demographics.groupby("Player Age Demographics")

# Determine the total count in each age group
age_df = player_demographics["Player Age Demographics"].value_counts()
age_df

# Determine the percent of each age group
age_perc = (age_df/num_players)*100
age_perc

# Print df
age_demo_df = pd.DataFrame({"Player Age Demographics": player_demographics,
                            "Total Players":age_df,
                            "Percent in Each Age Group":age_perc})


#Add the percent of each age group into the age df
#age_df["Percent of Total Players"] = age_perc
#age_df["Percent of Total Players"] = age_df["Percent of Total Players"].map("{:,.2f}%".format)
#age_df

# Rename the age group column
#age_df = age_df.rename(columns={"Player Age Demographics":"Total Players by each age group"})
#age_df

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

ValueError: Shape of passed values is (4, 3), indices imply (8, 3)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#create new df
purchase_data["Purchase Analysis by Age"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# total purchases by age group
age_group_df = purchase_data.groupby(["Purchase Analysis by Age"]).sum()["Price"]
age_group_df

# total price paid per group
age_group_tot_price = purchase_data.groupby(["Purchase Analysis by Age"]).mean()["Price"]
age_group_tot_price



# Ave price paid per item
#age_group_ave_price = age_group_tot_price/age_group_df
#age_group_ave_price = demographic_group["Price"].mean()
#age_group_ave_price = age_group_ave_price.round(2)
#age_group_ave_price

# Ave spend per player
#age_group_players = demographic_group["SN"].nunique()
#age_group_players
#age_group_player_spend = age_group_tot_price/age_group_players
#age_group_player_spend

#Print Age df
#age_group_df["Purchase Count"] = age_group_df
#age_group_df["Total Purchases"] = age_group_tot_price
#age_group_df["Purchase Price per Item (Ave)"] = age_group_ave_price
#age_group_df["Average Spend per Player"] = age_group_player_spend
#age_group_df

Purchase Analysis by Age
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Sum of each players spend
top_spender_df = purchase_data.groupby("SN").sum()["Price"].rename("Total Spend")
top_spender_df

# Average spend by each player
top_spender_ave_df = purchase_data.groupby("SN").mean()["Price"].rename("Ave Spend")
top_spender_ave_df

# Count of purchases by player
top_spender_count_df = purchase_data.groupby("SN").count()["Price"].rename("# of Purchases")
top_spender_count_df

# Print df
spend_rank_df = pd.DataFrame({"Total Purchases by Player": top_spender_df,
                            "Spend by Player (ave)":top_spender_ave_df,
                            "# of Purchases":top_spender_count_df})

#Sort data
spend_rank_df.sort_values(by=['Total Purchases by Player'], inplace=True, ascending=False)
spend_rank_df["Total Purchases by Player"] = spend_rank_df["Total Purchases by Player"].map("${:,.2f}".format)
spend_rank_df["Spend by Player (ave)"] = spend_rank_df["Spend by Player (ave)"].map("${:,.2f}".format)
spend_rank_df.head()

            Total Purchases by Player Spend by Player (ave)  # of Purchases
SN
Lisosia93                      $18.96                 $3.79               5
Idastidru52                    $15.45                 $3.86               4
Chamjask73                     $13.83                 $4.61               3
Iral74                         $13.62                 $3.40               4
Iskadarya95                    $13.10                 $4.37               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# retrieve the three columns of interest
pop_items = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
pop_items

# what items sold most frequently
most_freq_df = pop_items.groupby(["Item ID", "Item Name"]).count()["Price"]
most_freq_df

# Average item price is equal to item price
price_item = pop_items.groupby(["Item ID", "Item Name"]).mean()["Price"]
price_item

item_total = pop_items.groupby(["Item ID", "Item Name"]).sum()["Price"]
item_total

# Print df
item_rank_df = pd.DataFrame({"Frequency of Purchase": most_freq_df,
                            "Item Price":price_item,
                            "Total Spend":item_total})
item_rank_df.sort_values(by=['Frequency of Purchase'], inplace=True, ascending=False)
item_rank_df["Item Price"] = item_rank_df["Item Price"].map("${:,.2f}".format)
item_rank_df["Total Spend"] = item_rank_df["Total Spend"].map("${:,.2f}".format)
item_rank_df.head()

,,Frequency of Purchase,Item Price,Total Spend
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
# Print df
item_rank_df = pd.DataFrame({"Frequency of Purchase": most_freq_df,
                            "Item Price":price_item,
                            "Total Spend":item_total})
item_rank_df.sort_values(by=['Total Spend'], inplace=True, ascending=False)
item_rank_df["Item Price"] = item_rank_df["Item Price"].map("${:,.2f}".format)
item_rank_df["Total Spend"] = item_rank_df["Total Spend"].map("${:,.2f}".format)
item_rank_df.head()

,,Frequency of Purchase,Item Price,Total Spend
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80