### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players_t = purchase_data.Gender.count()
players_t

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Create table variables

#How many unique items are there?
u_items = len(purchase_data["Item ID"].unique())
u_items

#How many transactions were there?
n_trans = purchase_data["Purchase ID"].count()
n_trans

#What was the total value of the transactions
t_trans = purchase_data["Price"].sum()
t_trans = "${:,.2f}".format(t_trans)

#Determine the average price
#ave_price = (t_trans/n_trans).count
ave_price = purchase_data["Price"].mean()
ave_price

#Create dataframe
Purchasing_Analysis_Total = pd.DataFrame({"# of Unique Items": [u_items],
                                        "Price (Ave)":[ave_price],
                                        "# of Transactions":[n_trans],
                                         "Total Sales":[t_trans]})

output = Purchasing_Analysis_Total.round(2)
output

   # of Unique Items  Price (Ave)  # of Transactions Total Sales
0                179         3.05                780   $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Who is playing this game? 
# Already counted totals in[9] "players_t"
gender_df = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_df

# Determine the percent for each gender
gender_per = ((purchase_data["Gender"]).value_counts()/players_t)*100
gender_perc = gender_per.round(1)
gender_perc

#Add the percent of each gender into the gender df
gender_df["Percent of Total Players"] = gender_perc
gender_df["Percent of Total Players"] = gender_df["Percent of Total Players"].map("{:,.1f}%".format)
gender_df

# Rename the Gender column
gender_df = gender_df.rename(columns={"Gender":"Players by Gender"})
gender_df

                       Players by Gender Percent of Total Players
Male                                 652                    83.6%
Female                               113                    14.5%
Other / Non-Disclosed                 15                     1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create a df to capture data by gender
gender_analysis_df = purchase_data.groupby(["Gender"])

# Determine the number of purchases by gender
purch_count = gender_analysis_df["Gender"].count()
purch_count

# Total purchase by gender
t_purch = gender_analysis_df["Price"].sum()
t_purch

# Ave purchase price by gender
ave_purch = t_purch/purch_count
ave_purch

# Normalize data
purch_norm = gender_analysis_df["SN"].nunique()
purch_gender_norm = t_purch/purch_norm

# Print df
gender_org_df = pd.DataFrame({"Purchase Count": purch_count,
                            "Purchase Price (Ave)":ave_purch,
                            "Total Purchases by Gender":t_purch,
                            "Normalized Total Purchase":purch_gender_norm})

gender_org_df

,Purchase Count,Purchase Price (Ave),Total Purchases by Gender,Normalized Total Purchase
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 11.90, 18.90, 22.90, 26.90, 30.90, 39.90, 99999]
group_names = ["<12", "12-18", "19-22", "22-26", "27-30", "31-40", "40+"]

#database for age Demo
purchase_data["Player Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group =purchase_data.groupby("Player Age Demographics")
#purchase_data.head()

# Determine the total count in each age group
age_df = pd.DataFrame(demographic_group["Player Age Demographics"].value_counts())
age_df

# Determine the percent of each age group
age_perc = (age_df/players_t)*100
age_perc

#Add the percent of each age group into the age df
age_df["Percent of Total Players"] = age_perc
age_df["Percent of Total Players"] = age_df["Percent of Total Players"].map("{:,.2f}%".format)
age_df

# Rename the age group column
age_df = age_df.rename(columns={"Player Age Demographics":"Total Players by each age group"})
age_df

,,Total Players by each age group,Percent of Total Players
Player Age Demographics,Player Age Demographics,,
<12,<12,39,5.00%
12-18,12-18,125,16.03%
19-22,19-22,254,32.56%
22-26,22-26,207,26.54%
27-30,27-30,63,8.08%
31-40,31-40,79,10.13%
40+,40+,13,1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
# total purchases by age group
age_group_df = pd.DataFrame(demographic_group["Item ID"].count())
age_group_df

# total price paid per group
#age_group_tot_price = pd.DataFrame(demographic_group["Price"].sum())
#age_group_tot_price = "${:,.2f}".format(age_group_tot_price)
age_group_tot_price =demographic_group["Price"].sum()
age_group_tot_price = age_group_tot_price.map("${:,.2f}".format)
age_group_tot_price

# Ave price paid per item
#age_group_ave_price = age_group_tot_price/age_group_df
age_group_ave_price = demographic_group["Price"].mean()
age_group_ave_price = age_group_ave_price.round(2)
age_group_ave_price

# Ave spend per player
age_group_players = demographic_group["SN"].nunique()
age_group_players
age_group_player_spend = age_group_tot_price/age_group_players
age_group_player_spend

#Print Age df
#age_group_df["Purchase Count"] = age_group_df
#age_group_df["Total Purchases"] = age_group_tot_price
#age_group_df["Purchase Price per Item (Ave)"] = age_group_ave_price
#age_group_df["Average Spend per Player"] = age_group_player_spend
#age_group_df

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
# Create a df to determine the top spender
top_spender_df = purchase_data.groupby("SN")
top_spender_df

# How much did each player spend?
t_player_spend = top_spender_df["Price"].sum()
t_player_spend = t_player_spend.map("${:,.2f}".format)
t_player_spend

# Average purchase price per user
ave_pur_player = top_spender_df["Price"].mean()
ave_pur_player_f = ave_pur_player.map("${:,.2f}".format)
ave_pur_player_f

#Print top spenders df
top_spender_df["Total Spend"] = t_player_spend
#top_spender_df["Ave Spend per Item"] = ave_pur_player_f
#age_group_df["Purchase Price per Item (Ave)"] = age_group_ave_price
#age_group_df["Average Spend per Player"] = age_group_player_spend
top_spender_df.head()

# Need to orgainze and have total purchasing be descending
#top_spender_df_d = top_spender_df_d.sort_values("Total Spend",ascending=False)
#top_spender_df_d

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
# what items sold most frequently
most_freq_df = purchase_data.groupby(['Item ID', 'Item Name'])
most_freq_df.count()

# Average item price is equal to item price
price_item = most_freq_df["Price"].mean()
price_item

# df is now organized by item- total price
t_price_item = most_freq_df["Price"].sum()
t_price_item = t_price_item.map("${:,.2f}".format)
t_price_item

# create df to output
most_freq_df["Item Price"] = price_item
most_freq_df["Total Spent for Item"] = t_price_item
most_freq_df

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame